- const { olapicWidgetPerformance: { run, pageSummary} } = pageInfo.data
- const { stats } = (run || pageSummary);

if stats.found
  if run
    h2 Olapic Widget's Performance
    //- p #{JSON.stringify(run)}
  else
    h2 Avg. Olapic Widget's Performance
    //- p #{JSON.stringify(pageSummary)}

  .row
    .one-half.column
      table
        tr
          th Metric
          th Time in milliseconds.
        tr
          td Script loading time
          td #{stats.scriptFileLoadTime} ms.
        tr
          td Styles load time:
          td #{stats.stylesFileLoadTime} ms.
        tr
          td Templates load time
          td #{stats.templatesFileLoadTime} ms.
        tr
          td Script's process time.
          td #{stats.firstTrackingTime} ms.
        tr
          td Time until first image load.
          td #{stats.timeUntilFirstMedia} ms.
    if run
      .one-half.column
        table
          tr
            th(colspan="2") Media analisis.
          tr
            td First loaded Asset
            td Slower loaded Asset
          tr
            td
              if stats.firstMedia
                img.screenshot(src=stats.firstMedia.request.url, alt='First Media', style='max-width: 250px;')
              else
                p - No data -
            td
              if stats.slowerMedia
                img.screenshot(src=stats.slowerMedia.request.url, alt='Slower Media', style='max-width: 250px;')
              else
                p - No data -

else
 p Olapic widget was not found on the site.
